@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Poppins:400,600&display=swap');

body {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

b, strong {
  font-weight: 600;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.subtitle {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 95%;
  margin-bottom: 15px;
  margin-top: -2px;
  font-weight: 600;
}

.navbar--main {
	background-color: white !important;
  /*background-color: transparent !important;*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  z-index: 1;
  top: 0px;
  transform: translateY(-100%);
  transition: all ease-in-out 0.3s;
}

.navbar--main.active {
  top: 0px;
  transform: translateY(0%);
}

.navbar--main .social__buttons {
  border-left: 1px solid rgba(86, 111, 126, 0.31);
  white-space: nowrap;
}

.social__button--circle {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  padding: 0px !important;
  border-radius: 290486px !important;
  margin-left: 4px;
  transition: all ease-in-out 0.15s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}


.social__button--circle.large {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.35rem;
  margin-left: 6px;
}

.social__button--circle:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.social__buttons .nav-item:first-child .social__button--circle {
  margin-left: 16px;
}

.linked-in {
  color: white !important;
  background-color: #0077B5;
}

.messenger {
  color: white !important;
  background-color: #0078FF;
}

.email {
  color: white !important;
  background-color: #53d769;
}

.linked-in.inverse {
  background-color: white;
  color: #0077B5 !important;
}

.messenger.inverse {
  background-color: white;
  color: #0078FF !important;
}

.email.inverse {
  background-color: white;
  color: #53d769 !important;
}

.text--theme {
	color: #F9F0ED;
}

.title__header--center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.title__header--center:before {
  content: "";
  border-top: 3px solid #719BA9;
  width: 70px;
  margin-right: 8px;
}

.title__header--center:after {
  content: "";
  border-top: 3px solid #719BA9;
  width: 70px;
  margin-left: 8px;
}

.intro-banner {
  position: relative;
  background-image: linear-gradient(to right bottom, #719BA9, #587180, #2B3C4F);
  /*height: 760px;*/
  height: 900px;
  text-align: center;
  z-index: 0;
  transform: skewY(-6deg);
  transform-origin: 0;
}

.intro-banner__background {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*width: 100%;*/
}

.intro-banner__background--image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../images/coding.jpg');
  background-attachment: fixed;
  /*background:*//*
  background: transparent;*/ 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 73%;
}

.intro-banner__background--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, #719BA9, #587180, #2B3C4F);
  /*background-image: linear-gradient(to right bottom, #1f424f, #0a1319, #04070b);*/
  opacity: 0.8;
} 

.intro-banner .container-fluid {
  transform: skewY(6deg);
  position: relative;
  /*padding-top: 180px;*/
  /*padding-top: 150px;*/
	color: #F9F0ED;
  padding-top: 96px;
}

.intro-banner .nav {
  margin-bottom: 100px;
}

.intro-banner h1,
.intro-banner h3,
.about-me h2,
.hire h2,
.skills h2,
.work-experience h2,
.education h2,
.character-references h2,
.hire-banner h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
  font-weight: 600;
}

.intro-banner .see-more {
  color: white;
  font-size: 2rem;
}

.intro-banner .dev-image {
  width: 600px;
  margin-top: 50px;
}


.intro-banner .profile-pic--holder {
	margin-bottom: 24px;
} 

.intro-banner hr {
	width: 100px;
	border-color: rgba(255, 255, 255, 0.17);
}

.about-me h2 {
  color: #587180;
}

.about-me { 
  padding-top: 180px;
  padding-bottom: 80px;
}

.hire ul > li,
.skills ul > li,
.about-me p.description,
.work-experience {
  font-size: 18px;
}

.about-me p.description {
  color: #587180;
}

.about-me .blockquote {
  color: #5D7A88;
}

.about-me .blockquote-footer {
  color: inherit;
  opacity: 1;
}

.hire {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f2f8fa;
  color: #587180;
  border-top: 1px solid rgba(113, 155, 169, 0.18);
  border-bottom: 1px solid rgba(113, 155, 169, 0.18);
}

.hire_image {
  position: relative;
}

.hire_image img {
  width: 100%;
  height: auto;
  top: -84px;
  position: absolute;
}


.skills  {
  min-height: 500px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #587180;
  background-image: url('../images/desk.jpg');
  background-repeat: no-repeat;
  background-size: 106%;
  background-position-x: left;
  background-position-y: 86%;
}

.skills h2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #ffffff;
  padding: 10px 16px 5px;
  border-radius: 4px;
  color: white;
  border: 2px solid #587180;
  background: #587180;
}

.skills .card {
  border-radius: 4px;
  border: 2px solid #719BA9;
  padding-top: 24px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1);
}

.skills .card:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.work-experience {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #587180;
}

.education {
  color: white;
  /*background: #587180;*/
  background: #546976;
}

.education__body {
  padding-top: 60px;
  padding-bottom: 60px;
  color: rgba(255, 255, 255, 0.92);
}

.education__body h2 {
  color: white;
}

.education__image {
  background-image: url('../images/education.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 0.15s;
}

.character-references {
  color: #587180;
  padding-top: 60px;
  padding-bottom: 60px;
  /*background-color: #f2f8fa;*/
}

.character-references .character {
  padding-top: 4rem;
}

.character-references .card {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1);
  border: none;
  width: 100%;
}

.character-references .card:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.character-references .card:hover .profile-photo {
  /*box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 -2px 4px 0 rgba(0,0,0,.2), 0 2px 4px -1px rgba(0,0,0,.2);*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.character-references .card .profile {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.character-references .card .profile-photo {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  background-color: white;
  border: 5px solid #587180;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1);
}

.character-references .profile-photo img {
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
}

.character-references .card .card-body {
  padding-top: 4rem;
}

.character-references .card .card-body .subtitle {
  color: #719BA9;
}


.character-references .card .card-body p {
  opacity: 0.8;
  font-size: 14px;
}

.hire-banner {
  padding-top: 100px;
  color: #587180; 
}

.hire-banner .card {
  border: none;
  border-radius: 0px;
}

.button--download {
  background-color: #587180 !important;
  color: white !important;
  padding: .5rem 1rem;
  border-radius: 0px;
}

.button--download.inverse {
  background-color: white !important;
  color: #587180 !important;
}

.button--email {
  background-color: #348441!important;
  color: white !important;
  padding: .5rem 1rem;
  border-radius: 0px;
}

.intro-banner .button--download.inverse {
  background-color: transparent !important;
  border: 3px solid white !important;
  border-radius: 0px;
  color: white !important;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  padding: .5rem 1rem .35rem;
}


.intro-banner .button--download.inverse:hover {
  color: #587180 !important;
  background-color: white !important;
}

footer.footer {
  color: rgba(255, 255, 255, 1);
  background-color: #587180;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

.scroll--top {
  background-color: #f2f8fa;
  color: #587180 !important;
  border: 1px solid rgba(113, 155, 169, 0.18);
  position: fixed;
  bottom: -50px;
  right: 16px;
  opacity: 0;
  transition: all ease-in-out 0.35s;
}

.scroll--top.active {
  bottom: 16px;
  opacity: 1;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {

}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
	/*.navbar--main {
  	padding: .5rem 4rem;
  }*/
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {

}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {

}

@media (max-width: 1199.98px) {
  /*.intro-banner {
    height: 850px;
  }*/

  .hire_image img {
    left: 50%;
    top: -3rem;
    width: auto;
    height: 7.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: none;
  }

  .hire h2 {
    margin-top: 3rem;
    text-align: center;
  }

  .skills {
    background-size: 115%;
    background-position-x: left;
    background-position-y: 93%;
  }

  .education__image {
    background-position-x: 50%;
  }
}


@media (max-width: 991.98px) {
  .intro-banner {
    height: 800px;
  }

  .intro-banner .container-fluid {
    padding-top: 70px;
  }

  .intro-banner .dev-image {
    max-width: 65%;
  }

  .work-experience {
    padding-bottom: 160px;
  }

  .education {
    position: relative;
  }

  .about-me {
    padding-bottom: 120px;
  }

  .hire_image img {
    height: 12rem;
  }

  .hire h2 {
    margin-top: 5rem;
    text-align: center;
  }

  .education h2 {
    text-align: center;
  }

  .education__image {
    left: 50%;
    width: 90%;
    height: 200px;
    position: absolute;
    border-radius: 4px;
    background-position-y: 25%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }

  .education__body {
    padding-top: 140px;
  }
}

@media (max-width: 767.98px) {
  .intro-banner {
    height: 700px;
  }

  .intro-banner .container-fluid {
    padding-top: 30px;
  }

  .intro-banner .dev-image {
    max-width: 90%;
  }

  .about-me {
    padding-bottom: 100px;
  }
  .title__header--center:before {
    margin-right: 6px;
  }

  .title__header--center:after {
    margin-left: 6px;
  }
}

@media (max-width: 575.98px) {
  .intro-banner {
    height: 750px;
  }

  .hire_image img {
    height: 10rem;
  }

  .skills {
    background-size: cover;
    background-position-x: 64%;
    background-position-y: 93%;
  }

  .education .list-xs {
    padding-inline-start: 16px;
  }

  .hire h2 {
    margin-top: 4rem;
  }

  .hire ul > li,
  .skills ul > li,
  .about-me p.description,
  .work-experience {
    font-size: 16px;
  }

  .intro-banner h1 {
    font-size: 2.25rem;
  }

  .intro-banner h3 {
    font-size: 1.5rem;
  }
  
  .intro-banner h3,
  .about-me h2,
  .hire h2,
  .skills h2,
  .work-experience h2,
  .education h2,
  .character-references h2 {
    font-size: 1.75rem;
  }

  .hire-banner .button--download, .hire-banner .button--email {
    width: 100%;
  }
}

@media (max-width: 325px) {
  .intro-banner {
    height: 600px;
  }

  .about-me {
    padding-top: 120px;
  }
}